.imgs{
	display:flex;
	align-items:center;
	justify-content:center;	
}

.img-column{
	
}

.img-column img{
	height:150px;
	width:auto;
	object-fit: contain;
	display:block;
}

summary,h2 {
  display: flex;
  justify-content: center;
  align-items: center;  
  list-style: none;       
  cursor: pointer;
  padding:20px;
}

.sum-img img{
	width: 250px;
    height: 250px;
    border-radius: 50%; /* Makes all of them circular for consistency */
    object-fit: contain; /* Keeps text/logos from being cropped */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

summary img:hover{
	transform: scale(1.05);
	z-index: 10;
	position: relative; 
}

.col-img{
	flex-wrap: wrap;
	display:flex;
	flex:1;
	align-items: center;  
	justify-content:center;
	gap:20px;
}

hr{
	margin:20px;
	width:100%;
}

.back-to-top {
    position: fixed;
    bottom: 20px;       /* Distance from the bottom */
    right: 20px;        /* Distance from the right */
    width: 50px;
    height: 50px;
    background-color: white; /* Matches your logo color */
    color: #003554;
	border: 2px solid #003554;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000;      /* Ensures it stays on top of images */
    transition: transform 0.2s ease;
}

.back-to-top:hover {
    transform: scale(1.1);
    background-color: #003554;
	color:white;
}