body{
  margin:0;
  background-color:#FEFCFB;
}
hr{
  border:none;
  height:2px;
  background-color:#051923;
}
h3{
  text-shadow: 10px 10px 20px red;
  font-family:Georgia;
}

h1{
  margin-top:0;
  margin-bottom:0.5in;
  color:#051923;
}

header{
  background-color:#D2C1B6;
}

#banner{
  position:absolute;
  color:#D2C1B6;
  height:200px;
  length:900px;
}

.body-text{
  font-size:12px; 
  font-family: Tahoma;
  text-align:justify;
}
